#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  background: linear-gradient(135deg, #ebe7e7 0%, #e1e1bc 45%, #8dd6d6 100%);
  justify-content: center;
  align-items: center;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container
.left-icon{
border-radius: 100px;
}

.login-container,
.signup-container {
  width: 300px;
  padding: 40px;
  border-radius: 14px;
  background: linear-gradient(120deg, #7a787a 15%, #7a787a 85%);
  color: #fff7ed;
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.55);
}
.login-container:hover,
.signup-container:hover { 
  box-shadow: 15px 15px 15px rgba(124, 45, 18, 0.55);
  transition: all 0.3s ease;
}
h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
label {
  background-color: transparent;
  color: #dfac05;
  cursor: pointer;
  font-weight: 600;
}
label:hover {
  color: #ffedd5;
}
.app .login-container .input-group,
.app .signup-container .input-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.app .login-container .input-group img,
.app .signup-container .input-group img {
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.app .login-container .input-group .left-icon,
.app .signup-container .input-group .left-icon {
  left: 5px;
}
.app .login-container .input-group .right-icon,
.app .signup-container .input-group .right-icon {
  right: 5px;
  cursor: pointer;
}
.app .login-container .input-group input,
.app .signup-container .input-group input {
  width: 100%;
  height: 45px;
  border: none;
  background: #ffffff;
  padding: 0 25px;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  color: #1c1c1e;
}

.app .login-container .input-group input:focus,
.app .signup-container .input-group input:focus {
  box-shadow: 0 0 0 2px rgba(253, 186, 116, 0.5);
}

.app .login-container .forgot-password {
  width: 100%;
  text-align: right;
  padding-bottom: 20px;
}

.app .login-container .forgot-password label,
.app .login-container p label,
.app .signup-container p label {
  cursor: pointer;
  font-weight: bold;
}
.app .login-container button,
.app .signup-container button {
  width: 100%;
  border: none;
  height: 40px;
  background: #1c1c1e;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 600;
}
.app .login-container button:hover,
.app .signup-container button:hover {
  cursor: pointer;
  background: #0aad25;
}
.app p {
  margin-top: 15px;
  font-size: 14px;
}
.app .login-container button,
.app .signup-container button {
  border: none;
  height: 40px;
  background: #1c1c1e;
  color: white;
  border-radius: 10px;
}